.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: whitesmoke;
	border: solid red;
	margin: 10px;
	padding-right: 15px;
}

.CourseCard {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: whitesmoke;
	border: solid green;
	margin: 10px;
	padding: 15px;
}

.SearchBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px;
	padding: 5px;
}

.Courses {
	border: solid red;
	margin: 10px;
}

.CreateCourse {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: solid red;
	margin: 10px;
	padding: 15px;
}

.CreateCourse textarea {
	width: 100%;
}

.CreateAuthor {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: solid black;
	margin: 10px;
	padding: 15px;
}

.AuthorsList {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 50%;
}

.pageChange {
	position: absolute;
	top: 120px;
	right: 30px;
}
